@import url('./reset.css');

body {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

header, main, footer {
    width: 80%;
    background-color: gray;
    margin: 0 auto;
    padding: 10px;
}

main {
    background-color: darkgray;
    min-height: 500px;
}

footer {
    text-align: center;
    background-color: #000;
    color: #FFF;
    min-height: 50px;
}